@model PracticeWork.Models.ViewModels.StudentViewModels
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
           Class
        </th>
        <th>
          中文成績
        </th>
        <th>            
           英文成績
        </th>
        <th>
            數學成績
        </th>
        <th>
            平均
        </th>
        <th></th>
    </tr>
    @foreach
</table>

